body {
    font-family: 'Inter', sans-serif;
   background-color: #0c1017;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #1f2937; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
    width: 100%;
}
/*---------NavBar--------*/
header{
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 1px 3px rgba(202, 14, 14, 0.1);
    margin-bottom: 50px;
}
.navbar {
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37); /*0 1px 3px rgba(202, 14, 14, 0.1);*/
    /*border: 2px solid rgba(255, 255, 255, 0.18);*/

    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    margin-top: -1%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 15px;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.42);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

.navitem {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px; 
    align-items: center;
    font-size: 1.5rem; 
    font-family: 'TASA Explorer', sans-serif;
    color: #ffffff;
    transition: color 0.3s;

}
.navlink:hover {
    color: #d6eb19; /* text-indigo-600 */
}
/*----------Titulo y nombre ------------*/

.myname{
    text-align: left;
    margin: 100px auto auto 490px;
    padding: 50px 10px;
    font-family: 'TASA Explorer', sans-serif;
    color: #ffffff;
    width: 100%;
}

.myname span{
    text-align:left;
    border-radius: 12px;
    background-color: #1f2937;
    font-size:medium;
    font-weight: 30;
   justify-content: center;
   padding: 6px 15px;
    text-decoration: none;
    border: 1px solid #242424;
}

.myname h1{
    border-radius: 10px;
    font-size: 4rem; 
    font-weight: 800;
    width: 100%;
    
}

.myname p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #d1d5db;
    line-height: 1.5;
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
}


.button{
    width: auto;
    gap: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:center;
    
}
.button a{
    color: rgb(255, 255, 255);
    background-color: #08093ea6;
    text-decoration: none;
    border-radius: 12px;
    font-size: 23px; 
    font-weight: 300;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid #242424;
   
    
}

.button a:hover{
    background-color: #0e7f6e;
    transition: 0.3s;
}

.button img{
    color: rgb(255, 255, 255);
    background-color: #08093ea6;
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    border-radius: 12px;
    border: 1px solid #242424;
}

.button img:hover{
    background-color: #133f7e;
    transition: 0.3s;
}


/*-------Seccion experiencia------*/

#mainsecciones {
    flex-grow: 2;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    
}
.section1 h2{
    font-size: 2.5rem; 
    font-weight: 700; 
    text-align: center;
    font-family: 'TASA Explorer', sans-serif;
    margin-bottom: 20px;
    color: #ffffff;
}



.section2{
    margin-bottom: 50px;
}

.section2 h2{
    font-size: 2.5rem; 
    font-weight: 700; 
    text-align: center;
    font-family: 'TASA Explorer', sans-serif;
    margin-bottom: 20px;
    color: #ffffff;
}

/*.sectiongrid{
    display: grid;
    gap: 8px;
    grid-column: 1px; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}*/

.container {
   display: grid;
    grid-column: 100px; 
    grid-template-columns: repeat(1, 1fr); /*Columnas*/
    grid-template-columns: repeat(2, 1fr); /*Filas*/
  /* El corazón del diseño responsivo:
     - auto-fit: crea tantas columnas como quepan.
     - minmax(): cada columna tendrá un ancho mínimo de 250px y crecerá para ocupar el espacio disponible de forma equitativa (1fr). */
    grid-gap: 50px; /* Espacio entre las tarjetas */
    padding: 30px;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsivo */
}

.card{
    display: flex;
    gap: 20px;
    height: 200px;
    width: 300px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    border: 1px solid #ddd;
    overflow: hidden; /* Asegura que la imagen se ajuste a los bordes redondeados */
  /* Usamos Flexbox para apilar los elementos verticalmente */
    flex-direction: column;
    align-items: center; /* Centra horizontalmente la imagen y el bloque de contenido */
}

.card:hover{
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
.card:hover ~ .card{
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.iconcard{
    height: 100px;
    width: auto;
    display:flex;
    margin: 30px 0 0 12px;
    align-items: center;
}

.section3 h2{
    font-size: 2.5rem; 
    font-weight: 700; 
    text-align: center;
    font-family: 'TASA Explorer', sans-serif;
    margin-bottom: 20px;
    color: #ffffff;
}
.section4 h2{
    font-size: 2.5rem; 
    font-weight: 700; 
    text-align: center;
    font-family: 'TASA Explorer', sans-serif;
    margin-bottom: 20px;
    color: #ffffff;
}


